<html>
  <head>
    <script src="./lib/vue.js"></script>
    <title>Angels & Demons</title>
    <link rel="stylesheet" href="./data/styles.css">
    <script src="./src/BaseClasses.js"></script>
    <script src="./src/components.js"></script>
    <script src="./src/Dark.js"></script>
    <script src="./src/Light.js"></script>
    <script src="./src/Land.js" ></script>
    <script src="./src/Crippler.js"></script>
    <script src="./data/DarkHand.js"></script>
    <script src="./data/LightHand.js"></script>
    <script src="./src/expandWeights.js"></script>
  </head>
  <div id="sandbox"></div>
  <body style="position:absolute;width:100%">
    <div id="game" style="display:block;position:absolute;width:100%" >
          <div style="background-color:#FFFFFF; width:100px;">
            <div class="manaBar" :style="{height:'20px',width: playerMana.manaBarWidth}"> {{ playerMana.mana }} </div>
          </div>
          <div style="float:right; background-color:#FFFFFF; width:100px;">
            <div class="manaBar" :style="{'float':'right', 'width': enemyMana.manaBarWidth}"> {{ enemyMana.mana }} </div>
          </div>
          <br><br>
          <div id="playerHand" style="position:relative;">
             <transition-group name="list-complete1">
               <card v-for="(item, index) in playerHandCards" v-if="item.name!==null" :key="item.UUID" :index="index" :item="item" :turn-manager="turnManager" :colors="colors" :game-over="gameOver"></card>
             </transition-group>
          </div>
          <div id="playerUnits">
            <transition-group name="list-complete1" style="position:relative;">
                <card v-for="item in playerDeckCards" v-if="item.name!==null" :key="item.UUID" :item="item" :turn-manager="turnManager" :colors="colors" :game-over="gameOver"></card>
            </transition-group>
          </div>
          <div id="turnStats">
            <h3 id="turn"> Turn: {{ turnManager.turnNumber % 2 ? "Demons" : "Angels" }} </h3>
            <button :onclick=" gameOver ? 'void(0)' : 'nextTurn()'">End turn.</button>
          </div>
          <div id="enemyUnits">
            <transition-group name="list-complete2">
              <card v-for="item in enemyDeckCards" v-if="item.name!==null" :key="item.UUID" :item="item" :turn-manager="turnManager" :colors="colors" :game-over="gameOver"></card>
            </transition-group>
          </div>
          <div id="enemyHand">
            <transition-group name="list-complete2">
              <card v-for="item in enemyHandCards" v-if="item.name!==null" :key="item.UUID" :item="item" :turn-manager="turnManager" :colors="colors" :game-over="gameOver"></card>
            </transition-group>
          </div>
      </table>
    </div>
    <script>
      const turnManager = new TurnManager;
      var gameOver = false;
      function getRandomItem(array){
        return array[Math.floor(Math.random()*array.length)]
      };
      
      function nextTurn(){
        turnManager.nextTurn();
        if( turnManager.turnNumber % 2 === 0 ) {
          playerManaManager.manaGain = playerManaManager.manaPerTurn;
          try{playerHand.addCardFromWeights()}catch(e){};
          playerDeck.updateEffects()
        } else if ( turnManager.turnNumber % 2 === 1 ) {
          enemyManaManager.manaGain = enemyManaManager.manaPerTurn;
          try{enemyHand.addCardFromWeights()}catch(e){};
        };
        playerDeck.ArrayOfCardIDs.forEach( (cardID) => {
          Object.assign(playerDeck.cards[cardID], {
            used: false,
            selected: false,
            locked: false
          });
        });
        playerDeck.selectedCardID = -1;
        enemyDeck.selectedCardID = -1;
        enemyDeck.ArrayOfCardIDs.forEach( (cardID) => {
          Object.assign(enemyDeck.cards[cardID], {
            used: false,
            selected: false,
            locked: false
          });
        });
      };
      const DarkerColors = {
        "#DFB720": "#BF5700",
        "#B0C4DE": "#90A4CE",
        "#C0C0C0": "#A0A0A0",
        "#DD00DD": "#BB00BB",
        "#DF5F30": "#BF3F10"
      },
           LighterColors = {
        "#DFB720": "#FFD940",
        "#B0C4DE": "#D0E4FE",
        "#C0C0C0": "#E0E0E0",
        "#DD00DD": "#FD00FD ",
        "#DF5F30": "#FF7F50"
      }
      var playerDeck = new Deck(false, null, playerWeights),
          enemyDeck = new Deck(false, null, enemyWeights),
          enemyHand = new Deck(true, new ManaManager(enemyDeck), enemyWeights),
          playerHand = new Deck(true, new ManaManager(playerDeck), playerWeights),
          playerManaManager = playerHand.manaManager,
          enemyManaManager = enemyHand.manaManager;
      Object.assign(enemyDeck, {
        manaManager: enemyManaManager,
        enemyDeck: playerDeck
      });
      playerDeck.manaManager = playerManaManager;
      playerDeck.enemyDeck = enemyDeck;
      enemyDeck.Lockdown()
      
      new Vue({
        el: "#game",
        data: {
          playerDeck: playerDeck,
          enemyDeck: enemyDeck,
          playerHand: playerHand,
          enemyHand: enemyHand,

          playerMana: playerManaManager,
          enemyMana: enemyManaManager,
          colors: {
            DarkerColors: DarkerColors,
            LighterColors: LighterColors
          },
          
          turnManager: turnManager,
          gameOver: gameOver
        },
        computed: {
          playerDeckCards: function(){
            let vm = this;
            return vm.playerDeck.cards
          },
          enemyDeckCards: function(){
            let vm = this;
            return vm.enemyDeck.cards
          },
          enemyHandCards: function(){
            let vm = this;
            return vm.enemyHand.cards
          },
          playerHandCards: function(){
            let vm = this;
            return vm.playerHand.cards
          }
        }
      });
      playerDeck.sealCards();
      playerHand.sealCards();
      enemyDeck.sealCards();
      enemyHand.sealCards();
      nextTurn();
    </script>
  </body>
</html>
