<html>
  <head>
    <script src="./lib/vue.js"></script>
    <title>Angels & Demons</title>
    <link rel="stylesheet" href="./data/styles.css">
    <script src="./lib/BaseClasses.js"></script>
    <script src="./lib/Dark.js"></script>
    <script src="./lib/Light.js"></script>
    <script src="./lib/Land.js" ></script>
    <script src="./data/DarkHand.js"></script>
    <script src="./data/LightHand.js"></script>
    <script src="./lib/expandWeights.js"></script>
  </head>
  <body>
    <div id="game" style="display:block">
      <table width="100%">
        <tr>
          <td>
            <div style="background-color:#FFFFFF; width:100px;">
              <div class="manaBar" v-bind:style="{height:'20px',width: playerMana.manaBarWidth}"> {{ playerMana.mana }} </div>
            </div>
          </td>
          <td colspan="3"/>
          <td>
            <div style="float:right; background-color:#FFFFFF; width:100px;">
              <div class="manaBar" v-bind:style="{'float':'right', width: enemyMana.manaBarWidth}"> {{ enemyMana.mana }} </div>
            </div>
          </td>
        </tr>
        <tr>
          <td id="playerHand" >
            <table id="playerHand">
              <tr v-for="item in playerHand">
                <td>
                  <div class="card">
                    <div class="name" v-bind:style="{color: item.nameColor, 'color': item.manaCost > playerMana.mana ? darkerColors[item.nameColor] : (item.selected ? lighterColors[item.nameColor] : item.nameColor)}" class="cardName" :onclick="'playerHand.cards['+item.ID+'].summon()'">{{item.name}}</div>
                    <br>
                    <div class="tagList">
                      <div class="manaCost"> {{ item.summonCost }} </div>
                      <div class="attack"> {{ item.attack }} </div>
                      <div class="manaPerRound"> {{ item.manaPerTurn }} </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td id="Player">
            <table id="playerUnits">
              <tr v-for="item in playerCards">
                <td>
                  <div class="card">
                    <div class="tag" v-bind:style="{width:'100px',color: item.locked || item.used ? darkerColors[item.nameColor] : (item.selected ? lighterColors[item.nameColor] : item.nameColor)}" :onclick="'playerDeck.cards['+item.ID+'].onclick()'" align="center">{{item.name}}</div>
                    <br v-if="item.health">
                    <div v-if="item.health" style="background-color:black; width:100px; height:20px">
                      <div v-bind:style="item.style" align="center"> {{item.health}} </div>
                    </div>
                    <br>
                    <div class="tagList">
                      <div class="manaCost"> {{ item.manaCost }} </div>
                      <div class="attack"> {{ item.attack }} </div>
                      <div class="manaPerRound"> {{ item.manaPerTurn }} </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td id="turnStats">
            <h3 id="turn"> Turn: {{ turnManager.turnNumber % 2 ? "Demons" : "Angels" }} </h3>
            <button onclick="nextTurn()">End turn.</button>
          </td>
          <td id="Enemy">
            <table id="enemyUnits">
              <tr v-for="item in enemyCards">
                <td>
                  <div class="card">
                    <div class="tag" v-bind:style="{width:'100px',color: item.locked  || item.used || item.manaCost > playerMana.mana ? darkerColors[item.nameColor] : (item.selected ? lighterColors[item.nameColor] : item.nameColor)}" :onclick="'enemyDeck.cards['+item.ID+'].onclick()'" align="center">{{item.name}}</div>
                    <br v-if="item.health">
                    <div v-if="item.health" style="background-color:black; width:100px;" class="health">
                      <div v-bind:style="item.style" class="health"> {{item.health}} </div>
                    </div>
                    <br>
                    <div class="tagList">
                      <div class="manaCost"> {{ item.manaCost }} </div>
                      <div class="attack"> {{ item.attack }} </div>
                      <div class="manaPerRound"> {{ item.manaPerTurn }} </div>
                    </div>
                  </div>
                <td>
              </tr>
            </table>
          </td>
          <td id="enemyHand">
            <table id="enemyHand">
              <tr v-for="item in enemyHand">
                <td>
                  <div class="card">
                    <div class="name" v-bind:style="{'width':'100%',color: item.nameColor,  'color': item.summonCost >= playerMana.mana ? darkerColors[item.nameColor] : (item.selected ? lighterColors[item.nameColor] : item.nameColor)}" class="cardName" :onclick="'enemyHand.cards['+item.ID+'].summon()'">{{item.name}}</div>
                    <br>
                    <div class="tagList">
                      <div class="manaCost"> {{ item.summonCost }} </div>
                      <div class="attack"> {{ item.attack }} </div>
                      <div class="manaPerRound"> {{ item.manaPerTurn }} </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
      </table>
    </div>
    <script>
      enemyWeights = expandWeights(enemyWeights);
      playerWeights = expandWeights(playerWeights);
      const turnManager = new TurnManager
      function getRandomItem(array){
        return array[Math.floor(Math.random()*array.length)]
      }
      function nextTurn(){
        turnManager.nextTurn()
        if( turnManager.turnNumber % 2 === 0 ) {
          let newPlayerMana = playerDeck.manaManager.mana + playerDeck.manaManager.manaPerTurn
          playerDeck.manaManager.mana = newPlayerMana > playerDeck.manaManager.maxMana ? playerDeck.manaManager.maxMana : newPlayerMana
          var newCard = getRandomItem(playerWeights)
          playerHand.addCards(new newCard(playerHand, playerDeck))
          playerWeights.splice(playerWeights.indexOf(newCard),1)
        } else if ( turnManager.turnNumber % 2 === 1 ) {
          let newEnemyMana = enemyManaManager.mana + enemyManaManager.manaPerTurn
          enemyDeck.manaManager.mana = newEnemyMana > enemyManaManager.maxMana ? enemyManaManager.maxMana : newEnemyMana
          var newCard = getRandomItem(enemyWeights)
          enemyHand.addCards(new newCard(enemyHand, enemyDeck))
          enemyWeights.splice(enemyWeights.indexOf(newCard),1)
        }
        Object.keys(playerDeck.cards).map(i=>playerDeck.cards[i].ID).forEach((cardID)=> {
          playerDeck.cards[cardID].used = false
          playerDeck.cards[cardID].selected = false
          playerDeck.cards[cardID].locked = false
          playerDeck.IDofCardSelected = -1
        })
        Object.keys(enemyDeck.cards).map(i=>enemyDeck.cards[i].ID).forEach((cardID)=> {
          enemyDeck.cards[cardID].used = false
          enemyDeck.cards[cardID].selected = false
          enemyDeck.cards[cardID].locked = false
          enemyDeck.IDofCardSelected = -1
        })
      }
      const DarkerColors = {
        "Gold": "GoldenRod",
        "LightSteelBlue": "SteelBlue",
        "Silver": "DarkGrey",
        "Magenta": "Purple"
      },
           LighterColors = {
        "Gold": "Yellow",
        "LightSteelBlue": "LightSkyBlue",
        "Silver": "LightGrey"
      }
      var playerDeck = new Deck(false),
          enemyDeck = new Deck(false),
          enemyHand = new Deck(true, new ManaManager(enemyDeck)),
          playerHand = new Deck(true, new ManaManager(playerDeck)),
          playerManaManager = playerHand.manaManager,
          enemyManaManager = enemyHand.manaManager;
      playerDeck.manaManager = playerManaManager;
      enemyDeck.manaManager = enemyManaManager;
      playerDeck.enemyDeck = enemyDeck;
      enemyDeck.enemyDeck = playerDeck;
      playerDeck.addCards(new Paladin);
      playerHand.addCards(new Mountain(playerHand, playerDeck));
      enemyDeck.addCards(new HellHound);
      enemyHand.addCards(new Ravine(enemyHand, enemyDeck));
      enemyDeck.Lockdown()
      
      new Vue({
        el: "#game",
        data: {
            playerCards: playerDeck.cards,
            enemyCards: enemyDeck.cards,
            playerHand: playerHand.cards,
            enemyHand: enemyHand.cards,

            playerMana: playerManaManager,
            enemyMana: enemyManaManager,

            darkerColors: DarkerColors,
            lighterColors: LighterColors,
            turnManager: turnManager
        }
      });
    </script>
  </body>
</html>
