body {
  background-color: #222
}
.card {
  transition: all 0.5s .25s;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 100%
}
.card[data-health=false] {
  height: 57
}
.card[data-health=true] {
  height: 71
}
.list-complete1-leave-to[data-health=false], .list-complete1-leave-to[data-health=true] {
  transition: all 0.5s 0s;
  opacity: 0;
  height: 0;
  transform: translateX(-100%)
}
.list-complete2-leave-to[data-health=false], .list-complete2-leave-to[data-health=true] {
  transition: all 0.5s 0s;
  opacity: 0;
  height: 0;
  transform: translateX(100%)
}
.list-complete1-enter {
  transition: all 0.5s .25s;
  opacity: 0;
  transform: translateX(-100%)
}
.list-complete1-leave-active, .list-complete2-leave-active {
  transform: translateX(-100%)
  position: relative;
  width: 20%
}
.list-complete2-enter {
  transition: all 0.5s 0s;
  opacity: 0;
  transform: translateX(100%)
}

.list-complete2-enter {
  transition: all 0.5s .25s
}
div {
  display: inline-block
}
.discard,.summonOrAttack {
  color: #fff;
  width: 15%;
  height: 20px
}
.discard {
  float: right
}
.summonOrAttack {
  float: left
}
.manaBar {
  height: 20px;
  background-color: #00f;
  color: #fff;
  text-align: center
}
.name>.tag {
  clear: both
}
.name {
  width: 70%;
  font-size: 16px
}
.tagList {
  width: 100%;
  margin: 4 auto
}
.tagList * {
  width: 20%;
  color: #fff;
  padding: 2%;
  border-radius: 4px
}
.tagList .manaCost {
  background-color: #0000cd
}
.tagList .attack {
  background-color: #8b0000
}
.tagList .manaPerRound {
  background-color: #00f
}
table {
  display: inline-table;
  width: 100%
}
.health,.tagList * {
  height: 20px;
  text-align: center
}
#enemyHand,#enemyUnits,#playerHand,#playerUnits {
  width: 20%;
  text-align: center
}
.card:not(.list-complete1-leave-active):not(.list-complete2-leave-active):not(.list-complete1-enter-active):not(.list-complete2-enter-active) {
  transition: all .25s 0s
}
#turn,#turnStats {
  color: #fff;
  text-align: center;
  transition: all 1s 0s
}